/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
h1.svelte-q86zst,p.svelte-q86zst{margin:0 auto}h1.svelte-q86zst{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-q86zst{margin:1em auto}@media(min-width: 480px){h1.svelte-q86zst{font-size:4em}}
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:0.67em 0}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}b{font-weight:bolder}img{border-style:none}blockquote,h1,h2,h5,p,pre{margin:0}ul{list-style:none;margin:0;padding:0}html{font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";line-height:1.5}*,::before,::after{box-sizing:border-box;border-width:0;border-style:solid;border-color:#e2e8f0}img{border-style:solid}table{border-collapse:collapse}h1,h2,h5{font-size:inherit;font-weight:inherit}a{color:inherit;text-decoration:inherit}pre{font-family:Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace}img,svg{display:block;vertical-align:middle}img{max-width:100%;height:auto}.container{width:100%}@media(min-width: 640px){.container{max-width:640px}}@media(min-width: 768px){.container{max-width:768px}}@media(min-width: 1024px){.container{max-width:1024px}}@media(min-width: 1280px){.container{max-width:1280px}}.c-article h1{line-height:1.25;font-size:2.25rem;margin-bottom:1rem}.c-article h2{line-height:1.25;font-size:1.5rem;margin-bottom:1rem}.c-article p{margin-top:1.25rem;margin-bottom:1.25rem}.c-article a{--text-opacity:1;color:#4299e1;color:rgba(66, 153, 225, var(--text-opacity))}.c-article ul{list-style-type:disc;margin-left:1rem}.c-article table{table-layout:auto;width:100%;margin-left:1rem;margin-right:1rem}.c-article table thead th{padding-left:1rem;padding-right:1rem;padding-top:0.5rem;padding-bottom:0.5rem}.c-article table tbody td{border-width:1px;padding-left:1rem;padding-right:1rem;padding-top:0.5rem;padding-bottom:0.5rem}.c-article pre{padding:1rem;margin:0.25rem;--bg-opacity:1;background-color:#cbd5e0;background-color:rgba(203, 213, 224, var(--bg-opacity))}.c-article blockquote{--text-opacity:1;color:#718096;color:rgba(113, 128, 150, var(--text-opacity));margin-left:1rem;font-style:italic}.c-label-last-updated{font-size:0.75rem;--text-opacity:1;color:#718096;color:rgba(113, 128, 150, var(--text-opacity));margin-bottom:1.25rem}.space-x-8>:not(template)~:not(template){--space-x-reverse:0;margin-right:calc(2rem * var(--space-x-reverse));margin-left:calc(2rem * calc(1 - var(--space-x-reverse)))}.bg-white{--bg-opacity:1;background-color:#fff;background-color:rgba(255, 255, 255, var(--bg-opacity))}.bg-gray-200{--bg-opacity:1;background-color:#edf2f7;background-color:rgba(237, 242, 247, var(--bg-opacity))}.bg-gray-400{--bg-opacity:1;background-color:#cbd5e0;background-color:rgba(203, 213, 224, var(--bg-opacity))}.border-gray-900{--border-opacity:1;border-color:#1a202c;border-color:rgba(26, 32, 44, var(--border-opacity))}.rounded-full{border-radius:9999px}.border{border-width:1px}.border-t{border-top-width:1px}.border-b{border-bottom-width:1px}.box-border{box-sizing:border-box}.inline-block{display:inline-block}.flex{display:flex}.table{display:table}.grid{display:grid}.flex-row{flex-direction:row}.flex-col{flex-direction:column}.items-center{align-items:center}.justify-between{justify-content:space-between}.font-light{font-weight:300}.font-bold{font-weight:700}.h-6{height:1.5rem}.text-xs{font-size:0.75rem}.text-sm{font-size:0.875rem}.text-lg{font-size:1.125rem}.text-2xl{font-size:1.5rem}.text-4xl{font-size:2.25rem}.leading-tight{line-height:1.25}.list-disc{list-style-type:disc}.m-1{margin:0.25rem}.mx-4{margin-left:1rem;margin-right:1rem}.my-5{margin-top:1.25rem;margin-bottom:1.25rem}.mx-auto{margin-left:auto;margin-right:auto}.mt-2{margin-top:0.5rem}.ml-3{margin-left:0.75rem}.mb-4{margin-bottom:1rem}.ml-4{margin-left:1rem}.mb-5{margin-bottom:1.25rem}.min-h-screen{min-height:100vh}.overflow-x-hidden{overflow-x:hidden}.p-4{padding:1rem}.py-2{padding-top:0.5rem;padding-bottom:0.5rem}.px-2{padding-left:0.5rem;padding-right:0.5rem}.py-4{padding-top:1rem;padding-bottom:1rem}.px-4{padding-left:1rem;padding-right:1rem}.py-8{padding-top:2rem;padding-bottom:2rem}.fill-current{fill:currentColor}.table-auto{table-layout:auto}.text-left{text-align:left}.text-justify{text-align:justify}.text-gray-400{--text-opacity:1;color:#cbd5e0;color:rgba(203, 213, 224, var(--text-opacity))}.text-gray-500{--text-opacity:1;color:#a0aec0;color:rgba(160, 174, 192, var(--text-opacity))}.text-gray-600{--text-opacity:1;color:#718096;color:rgba(113, 128, 150, var(--text-opacity))}.text-gray-900{--text-opacity:1;color:#1a202c;color:rgba(26, 32, 44, var(--text-opacity))}.text-blue-500{--text-opacity:1;color:#4299e1;color:rgba(66, 153, 225, var(--text-opacity))}.hover\:text-black:hover{--text-opacity:1;color:#000;color:rgba(0, 0, 0, var(--text-opacity))}.italic{font-style:italic}.uppercase{text-transform:uppercase}.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.tracking-wide{letter-spacing:0.025em}.w-5{width:1.25rem}.w-6{width:1.5rem}.w-12{width:3rem}.w-full{width:100%}.gap-2{grid-gap:0.5rem;gap:0.5rem}.grid-cols-4{grid-template-columns:repeat(4, minmax(0, 1fr))}.col-span-4{grid-column:span 4 / span 4}@media(min-width: 640px){.sm\:text-xl{font-size:1.25rem}.sm\:px-1{padding-left:0.25rem;padding-right:0.25rem}.sm\:py-2{padding-top:0.5rem;padding-bottom:0.5rem}.sm\:w-16{width:4rem}.sm\:col-span-1{grid-column:span 1 / span 1}.sm\:col-span-3{grid-column:span 3 / span 3}}